<ion-view view-title="ДОСЯГНЕННЯ">
    <ion-header-bar class="achievements-header">
      <div class="border-decoration"></div>
    </ion-header-bar>

  	<ion-content class="achievements has-header has-footer">
     <div class="list">
     	<div class="item item-thumbnail-left">
     		<img ng-src="img/achievements/0.png">
     		<h2>Прогрес</h2>
     		<h3>Відсоток складених слів від загальної кількості</h3>
			<div class="progress">
          <div class="progress-bar">
            <div class="progress-indicator" 
             style="width:{{getOpenedWordsPercentage()}}%">
            </div>
          </div>
          <p>{{getOpenedWordsPercentage()}}%</p>
			</div>
     	</div>
        <div ng-repeat="achievement in achievements" 
           	class="item item-thumbnail-left"
            ng-style="{'opacity' : achievement.isEarned ? 1 : 0.5}">
          	<img ng-src="img/achievements/{{achievement.id}}.png">
          	<h2><i class="icon ion-checkmark-round" ng-show="achievement.isEarned"> </i>{{achievement.name}}</h2>
          	<h3>{{achievement.description}}</h3>
            <h3>Винагорода: {{achievement.reward}} монет</h3>
        </div>
      </div>
  	</ion-content>

   <ion-footer-bar class="footer">
        <div class="border-decoration"></div>
        <div class="footer-controls">
            <div class="buttons">
            </div>
            <h1 class="title"></h1>
            <div class="buttons">
            </div>
        </div>
    </ion-footer-bar>
</ion-view>
