<ion-view view-title="СЛОВО">
<div class="not-enough-coins" ng-show="isNotEnoughCoins">Недостатньо монет</div>
    <ion-content class="has-footer">
        <h1>{{composingWord.isOpened ? composingWord.name : displayNotOpenedComposingWord()}}</h1>
        <button ng-show="!composingWord.isOpened"
    		ng-click="openComposedWord()">
    	   Відкрити
        </button>
        <p ng-show="!composingWord.isOpened">Відкриття слова коштує {{composingWordPrice}} монет</p>
        <p>{{composingWord.isDescriptionOpened ? composingWord.description : ''}}</p>
        <button ng-show="!composingWord.isDescriptionOpened"
    		ng-click="openDescription()">
    	   Підказати
        </button>
        <p ng-show="!composingWord.isDescriptionOpened">Підказка коштує {{promptPrice}} монет</p>
    </ion-content>

    <ion-footer-bar class="footer">
        <div class="buttons">
            <button class="help-button"><i class="icon ion-help"></i></button>
        </div>
        <h1 class="title"></h1>
        <div class="buttons">
            <button class="coins-button">{{coinsCount}}</button>
            <img class="coins-image" src="img/gold_coins.png">
        </div>
    </ion-footer-bar>
</ion-view>
