<ion-view view-title="ІНФОРМАЦІЯ ПРО ГРУ">
  <ion-content class="game-info has-footer">
    <div class="border-decoration"></div>
    <p>Гра полягає у складанні нових слів із заданих слів-завдань, які об'єднані в різні категорії. Кожна категорія
      містить по 5 слів-завдань. На початку гри відкрита лише одна категорія. Для того, щоб відкрити наступну, потрібно
      скласти половину можливих слів із попередньої. Необхідну кількість слів Ви побачите під назвою категорії.</p>
    <p>Складеними словами можуть бути іменники в називному відмінку однини, а також множини, якщо вони мають різні
      значення або вживаються лише в множині. Власні назви та абревіатури не зараховуються грою.</p>
    <p>За кожне складене слово Ви отримаєте винагороду - стільки монет, скільки літер міститься у слові (наприклад, за
      слово «кран» - 4 монети). Натиснувши на розгадане слово, Ви побачите його тлумачення.</p>
    <p>Також у грі є різні досягнення, які принесуть Вам винагороду у якості монет. Перелік можливих досягнень з
      розміром винагороди та загальний прогрес складання слів можна побачити, натиснувши на пункт «Досягнення» у
      головному меню.</p>
    <p>За отримані монети можна придбати підказку у складанні слова або відкрити його. Для цього натисніть на
      нерозгадане слово і скористайтеся відповідними кнопками:</p>
    <p>«Підказати» - Ви побачите тлумачення нерозгаданого слова. Підказка коштує 15 монет. Вартість Ви побачите під
      кнопкою.</p>
    <p>«Відкрити» - Ви побачите відповідне слово і його тлумачення. Вартість відкриття слова залежить від кількості
      літер, яке воно містить (у розрахунку 10 монет за кожну літеру). Вартість Ви побачите під кнопкою.</p>
    <p>Також гра підтримує різні теми дизайну. Для зміни теми натисніть на пункт «Налаштування» у головному меню і
      оберіть дизайн, який Вам подобається (зміни застосовуються миттєво). Крім того, у налаштуваннях можна
      вимкнути/увімкнути звуки гри.</p>
    <p>У разі побажань (наприклад, чогось не вистачає) чи зауважень (наприклад, існуюче слово не приймається грою)
      звертайтесь на поштову скриньку words.in.a.word@gmail.com</p>
    <p>Дякуємо, що обрали нашу гру!</p>
  </ion-content>

  <ion-footer-bar class="footer">
    <div class="border-decoration"></div>
    <div class="footer-controls">
      <div class="buttons">
      </div>
      <h1 class="title"></h1>
      <div class="buttons">
      </div>
    </div>
  </ion-footer-bar>
</ion-view>
