<ion-view view-title="ІНФОРМАЦІЯ ПРО ГРУ">
  <ion-content class="game-info has-footer">
  	<div class="border-decoration"></div>
    <p>Гра полягає у складанні нових слів із заданого слова.</p>
    <p>З побажаннями та зауваженнями звертайтесь на електронну поштову скриньку words.in.a.word@gmail.com</p>
  </ion-content>

    <ion-footer-bar class="footer">
        <div class="border-decoration"></div>
        <div class="footer-controls">
            <div class="buttons">
            </div>
            <h1 class="title"></h1>
            <div class="buttons">
            </div>
        </div>
    </ion-footer-bar>
</ion-view>
