<ion-view view-title="ІНФОРМАЦІЯ ПРО ГРУ">
  <ion-header-bar class="border-decoration-header">
    <div class="border-decoration"></div>
  </ion-header-bar>

  <ion-content class="game-info has-header has-footer">
    <p>Вам потрібно складати слова із заданих слів-завдань, які об'єднані в різноманітні категорії за тематикою 
      (наприклад, «Україна»). Кожна категорія містить по 5 слів-завдань. На початку гри відкрита лише одна категорія. Для того, щоб відкрити наступну, потрібно скласти половину можливих слів із попередньої. Необхідну кількість слів 
      Ви побачите під назвою категорії.</p>
    <p>Слова, які можна скласти, є іменниками в називному відмінку однини або, як виняток, і множини, якщо вони мають 
      різні значення або вживаються лише в множині. Власні назви, абревіатури та діалектні, розмовні, пестливі, збільшувані, лайливі, зневажливі, фамільярні іменники не зараховуються. Також гра містить дуже мало застарілих та рідковживаних слів.</p>
    <p>За кожне складене слово Ви отримуєте монети. Кількість отриманих монет залежить від кількості літер у слові 
      (наприклад, за слово «кран» - 4 монети). Монети дозволяють Вам відкривати нерозгадані слова чи підказки до них. Для цього натисніть на нерозгадане слово і скористайтеся відповідними кнопками:</p>
    <ul>
      <li><p>«Підказати» - відкрити тлумачення слова - вартість 15 монет</p></li>
      <li><p>«Відкрити» - відкрити слово і його тлумачення - вартість залежить від кількості літер у слові (10 монет 
        за кожну літеру)</p></li>
    </ul>
    <p>Також гра містить досягнення. Їх перелік з розміром винагороди та загальний прогрес складання слів можна 
      побачити, натиснувши на пункт «Досягнення» у головному меню.</p>
    <p>Крім цього, гра підтримує різні теми дизайну. Натисніть на пункт «Налаштування» у головному меню і
      оберіть тему, яка Вам подобається. Також на сторінці налаштувань можна вимкнути/увімкнути звуки.</p>
    <p>У разі побажань (наприклад, чогось не вистачає) чи зауважень (наприклад, існуюче слово не приймається грою)
      звертайтесь на поштову скриньку words.in.a.word@gmail.com</p>
    <p>Дякуємо, що обрали нашу гру!</p>
  </ion-content>

  <ion-footer-bar class="footer">
    <div class="border-decoration"></div>
    <div class="footer-controls">
      <div class="buttons">
      </div>
      <h1 class="title"></h1>
      <div class="buttons">
      </div>
    </div>
  </ion-footer-bar>
</ion-view>
