<ion-view view-title="НАЛАШТУВАННЯ">
  <ion-header-bar class="border-decoration-header">
    <div class="border-decoration"></div>
  </ion-header-bar>

  <ion-content class="settings has-header has-footer">
    <ion-toggle class="sounds-mode"
                ng-model="soundsMode"
                ng-change="updateSounds(soundsMode)"
                toggle-class="toggle-calm">
      Звуки
    </ion-toggle>
    <h3>Тема</h3>
    <ion-radio class="theme"
               ng-repeat="theme in themes"
               ng-model="selectedTheme"
               ng-value="theme.code"
               ng-click="manageTheme(theme)"
               icon="ion-checkmark-round">
      {{theme.name}}
    </ion-radio>
  </ion-content>

  <ion-footer-bar class="footer">
    <div class="border-decoration"></div>
    <div class="footer-controls">
      <div class="buttons">
      </div>
      <h1 class="title"></h1>
      <div class="buttons">
      </div>
    </div>
  </ion-footer-bar>
</ion-view>
