<ion-view view-title="СКЛАДІТЬ СЛОВА">
  <div class="add-coins" ng-if="isCoinsEarned">
    <span>+{{earnedCoins}}</span> 
    <img class="coins-image" src="img/gold_coins.png">
    <div class="opened-word">«{{openedWord}}»</div>
  </div>
  <div class="already-opened-word" ng-if="isAlreadyOpenedWord">«{{alreadyOpenedWord}}»
    <div>вже складено</div>
  </div>
  <div class="word-header">
    <div class="border-decoration"></div>
      <ion-list class="word-name-buttons-block" 
                style="height: {{lettersBlockHeight}}px">
        <ion-item class="row letters-row"
                  style="width: {{rows.length * letterWidth}}px; height: {{letterWidth}}px;" 
                  ng-repeat="rows in chunkedLetters">
          <button class="word-name-button"
                  ng-repeat="letter in rows track by $index" 
                  ng-click="addSelectedLetter(letter); disableWordNameButton($index, $parent.$index)">
            {{letter}}
          </button>
        </ion-item>
      </ion-list>
    <div class="row composed-word-controls"
        style="width: {{composedWordControlsWidth}}px">
      <button class="clear-composed-word"
              ng-click="clearComposedWord(); enableAllWordNameButtons()">
        <i class="icon ion-android-delete"></i>
      </button>
      <input class="composed-word"
             disabled="disabled"
             ng-model="composedWord" >
      <button class="remove-letter-in-composed-word"
              ng-click="removeLastLetter()">
        <i class="icon ion-backspace"></i>
      </button>
    </div>
    <div class="row opened-words-description">
      <p>Складено {{getOpenedWordsCount()}} з {{word.composingWords.length}} {{getEndOfOpenedWordsDescription()}}</p>
    </div>
    <div class="border-decoration"></div>
  </div>

  <ion-scroll class="composing-words" 
              direction="y" 
              style="height: {{composingWordsListHeight}}px">
    <ion-list class="composing-words-list">
      <ion-item class="row composing-words-row"
                style="width: {{rows.length * composingWordWidth}}px;"  
                ng-repeat="rows in chunkedComposingWords">
        <ion-item class="composing-word"
                style="width: {{composingWordWidth}}px;"
                href="#/app/wordslist/{{word.id}}/{{composingWord.id}}"
                ng-repeat="composingWord in rows">
          {{composingWord.isOpened ? composingWord.name : displayNotOpenedWord(composingWord.name.length)}}
        </ion-item>
      </ion-item>
    </ion-list>
  </ion-scroll>

  <ion-footer-bar class="footer">
    <div class="border-decoration"></div>
    <div class="footer-controls">
      <div class="buttons">
      </div>
      <h1 class="title"></h1>
      <div class="buttons">
        <button class="coins-button">{{coinsCount}}</button>
        <img class="coins-image" src="img/gold_coins.png">
      </div>
    </div>
  </ion-footer-bar>

</ion-view>
