<ion-view view-title="СЛОВА ЗА КАТЕГОРІЯМИ">
  <ion-header-bar ng-if="categoriesToDisplay" class="border-decoration-header">
    <div class="border-decoration"></div>
  </ion-header-bar>

  <ion-content class="categories-list has-footer has-header">
    <p ng-if="categoriesToDisplay" class="categories-stats"><i class="icon ion-stats-bars"></i> Відкритих категорій:
      {{openedCategoriesCount}}; всього: {{categories.length}}</p>

    <ion-list ng-if="categoriesToDisplay">
      <div class="border-decoration"></div>
      <div ng-repeat="category in categoriesToDisplay">
        <ion-item class="item-stable category item-thumbnail-right"
                  ng-click="toggleCategory(category)"
                  ng-class="{active: isCategoryShown(category)}">
          <img class="category-icon" ng-src="img/categories/{{category.id}}.jpg">
          <h1>
            <i class="icon" ng-class="isCategoryShown(category) ? 'ion-minus-round' : 'ion-plus-round'"
               ng-show="category.isOpened"></i>
            <i class="icon ion-android-lock" ng-show="!category.isOpened"></i>
            {{category.isOpened ? category.name : '? ? ? ? ?'}}
          </h1>
          <p ng-show="category.isOpened">
            Складено {{category.openedComposingWordsCount}} з {{category.totalComposingWordsCount}} {{category.totalComposingWordsCount.toString().charAt(category.totalComposingWordsCount.length - 1) == 1 ? 'слова': 'слів'}}
          </p>
          <p ng-show="category.id==firstClosedCategory.id">Складіть ще <span>{{remainingComposingWordsCountToOpenCategory}}</span>
            {{getWordsCountTextByRemainingCount()}}, щоб відкрити категорію</p>
        </ion-item>
        <div class="border-decoration"></div>
        <ion-item class="item-accordion category-word"
                  href="#/app/wordslist/{{word.id}}"
                  ng-repeat="word in category.wordsList"
                  ng-show="isCategoryShown(category)">
          {{word.name}}
          <p>{{word.openedComposingWords}} з {{word.totalComposingWords}}</p>
        </ion-item>
        <div class="border-decoration" ng-show="isCategoryShown(category)"></div>
      </div>
    </ion-list>
  </ion-content>

  <ion-footer-bar ng-if="categoriesToDisplay" class="footer">
    <div class="border-decoration"></div>
    <div class="footer-controls">
      <div class="buttons">
      </div>
      <h1 class="title"></h1>
      <div class="buttons">
        <button class="coins-button">{{coinsCount}}</button>
        <img class="coins-image" src="img/gold_coins.png">
      </div>
    </div>
  </ion-footer-bar>
</ion-view>
