<ion-view view-title="СПИСОК СЛІВ">
  <ion-content>

    <p>Відкрито {{getOpenedCategoriesCount()}} з {{categories.length}} категорій слів</p>

    <ion-list>
        <div ng-repeat="category in categoriesToDisplay">
          <ion-item class="item-stable"
                    ng-click="toggleCategory(category)"
                    ng-class="{active: isCategoryShown(category)}">
            <i class="icon" ng-class="isCategoryShown(category) ? 'ion-minus' : 'ion-plus'"></i>
            &nbsp;
            {{category.name}}
          </ion-item>
          <ion-item class="item-accordion category-word"
                    href="#/app/wordslist/{{word.id}}"
                    ng-repeat="word in category.wordsList"
                    ng-show="isCategoryShown(category)"  >
            {{word.name}}
            <p>{{word.openedComposingWords}} з {{word.totalComposingWords}}</p>
          </ion-item>
        </div>
      </ion-list>

    <button ng-click="editData()">Action {{tryCopyDB}}</button>
  </ion-content>
</ion-view>
