<ion-view view-title="СКЛАДІТЬ СЛОВА">
<div class="add-coins" ng-show="isCoinsEarned">+{{earnedCoins}} монет</div>
<div class="already-opened-word" ng-show="isAlreadyOpenedWord">"{{alreadyOpenedWord}}" вже складено</div>
	<ion-header-bar class="header">
    <div class="row word-name-buttons-block">
    		<div ng-repeat="letter in word.name track by $index">
        		<button class="word-name-button word-name-button-default" 
                    ng-click="addSelectedLetter(letter); disableWordNameButton($index)">
              {{letter}}
            </button>
    		</div>
		</div>
    <div class="row composed-word-controls">
      <button class="clear-composed-word" 
              ng-click="clearComposedWord(); enableAllWordNameButtons()">
        X
      </button>
      <input class="composed-word" ng-model="composedWord">
      <button class="remove-letter-in-composed-word" 
              ng-click="removeLastLetter()">
        --
      </button>
    </div>
    <div class="row opened-words-description">
      <p>Складено {{getOpenWordsCount()}} з {{word.composingWords.length}} слів</p>
    </div>
  </ion-header-bar>

  <ion-content class="content has-header has-footer">
    <!-- контроли для сортування списку по довжині слова або алфавіту -->
  		<ion-list class="composing-words-list">
      		<ion-item ng-repeat="composingWord in word.composingWords track by $index"
                    class="composing-word">
        	 {{composingWord.isOpened ? composingWord.name : displayNotOpenedWord(composingWord.name.length)}}
      		</ion-item>
    	</ion-list>
  	</ion-content>

  <ion-footer-bar class="footer">
    <div class="buttons">
      <button class="help">Довідка</button>
    </div>
    <h1 class="title"></h1>
    <div class="buttons">
      <button class="coins-button">{{coinsCount}} монет</button>
    </div>
	</ion-footer-bar>

</ion-view>
