.border-decoration {
  background-image: url('../img/seaside/border_decoration.jpg');
  background-size: auto 100%;
}

button.word-name-button {
  background-image: url('../img/seaside/letter_decoration.jpg');
  background-position: center top;
  background-size: auto 100%;
}

.main-menu, .bar-stable.bar-header, .footer, .category-word .item-content, .popup-head {
  background-image: url('../img/seaside/secondary_texture.jpg');
  background-size: 100% auto;
}

.achievements, .category.item-stable, .word-header {
  background-image: url('../img/seaside/main_texture.jpg');
  background-position: center top;
  background-size: auto 100%;
}

.category.item-stable {
  background-size: 100% auto;
}

.word-header::before, .game-info, .main-content, .settings, .main-menu .list {
  background: url('../img/seaside/decoration.jpg');
  background-position: center top;
  background-size: 100% auto;
}

.word-header::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  z-index: -1;
  opacity: 0.7;
  background-size: auto 100%;
}

.bar-stable.bar-header .button, .bar-stable.bar-header .title,
.categories-list p, .category.item-stable, .category p, .category-word p,
.opened-words-description p, button.coins-button, .popup-head h3,
.game-info p, .composing-word-info p,
.settings span, .settings h3, .settings .radio-icon {
  color: black;
}
.bar-stable.bar-header {
  border-bottom: 1px solid #795104;
}

.main-menu {
  border-right: 1px solid #795104;
}
.main-menu .item-content, .main-menu .item-content.activated,
.game-info p, .composing-word-info p,
.settings span, .settings h3, .settings .radio-icon {
  text-shadow: 1px 1px #ab7d58;
}
.main-menu .item, .category-word, .category.item-stable, .category.item-stable.active {
  border-color: #795104;
}

.category-word .item-content, .category.item-stable {
  text-shadow: 1px 1px #795104;
}
.category-word .item-content {
  color: white;
}
.categories-list-header {
  background-color: #8bd9e3;
}
.categories-list .list {
  background: linear-gradient(#b1e3ea, #ddd3b3, #b1e3ea);
}
.categories-stats {
  background-color: #b1e3ea;
}
.category .category-icon {
  border: 2px solid #795104;
}
.category p, .opened-words-description p, button.word-name-button {
  text-shadow: -1px 0 #c07865, 0 1px #c98b36, 1px 0 #c98b36, 0 -1px #c98b36;
}

button.word-name-button {
  border-color: #cd9f5d;
}
input.composed-word {
  border-color: #b2a485;
  background-color: rgba(131, 222, 255, 0.5);
}
.clear-composed-word, .remove-letter-in-composed-word {
  background-color: rgba(255, 255, 255, 0.4);
}
.composing-words {
  background: linear-gradient(rgba(244, 227, 179, 0.1), rgb(248, 238, 220), rgba(229, 217, 182, 0.2));
}

.prompt-button {
  background-color: rgba(237, 224, 171, 0.5);
}
.open-word-button {
  background-color: rgba(179, 89, 208, 0.5);
}

.achievements {
  background-color: #74cee8;
}
.progress {
  border: 2px solid black;
}
.progress p {
  color: #5a220f;
}
.progress-bar, .settings .item {
  border: 1px solid #5a220f;
}
.progress-bar {
  background-color: rgba(234, 209, 148, 0.5);
}
.progress-indicator {
  background-color: #5a220f;
}

.sounds-mode, .radio-content .item-content {
  background-color: rgba(234, 209, 148, 0.5) !important;
}
.toggle input:checked + .track, .toggle .track {
  border-color: #68312c !important;
}
.toggle input:checked + .track {
  background-color: #99463c !important;
}
.toggle .track {
  background-color: rgba(217, 157, 149, 0.5);
}

.popup-container .popup {
  background-color: rgb(255, 254, 224);
}
.popup-container .popup,
.popup button.button-positive, .popup button.button-positive.activated, .popup button.button-default {
  border: 1px solid #795104;
}
.popup-head {
  border-bottom: 1px solid #795104;
}
.popup-body h4, h5 {
  color: #ff3300;
}
.popup button.button-positive, .popup button.button-positive.activated {
  background: linear-gradient(141deg, #f1d5a4 20%, #fff2d0 51%, #f1d5a4 75%);
}
.popup button.button-default {
  background: linear-gradient(141deg, #fff2d0 20%, #f1d5a4 51%, #fff2d0 75%);
}