.border-decoration {
  background-image: url('../img/space/border_decoration.jpg');
  background-size: 100% auto;
}

button.word-name-button {
  background-image: url('../img/space/letter_decoration.jpg');
  background-position: center top;
  background-size: 100% auto;
}

.game-info, .main-content, .settings, .main-menu .list {
  background: url('../img/space/decoration.jpg');
  background-position: center top;
  background-size: auto 100%;
}

.main-menu .list {
  background-size: 100% auto;
}

.main-menu, .bar-stable.bar-header, .footer, .category-word .item-content, .popup-head {
  background-image: url('../img/space/secondary_texture.jpg');
  background-size: 100% auto;
}

.achievements, .category.item-stable, .word-header::before {
  background: url('../img/space/main_texture.jpg');
  background-position: center top;
  background-size: auto 100%;
}

.word-header::before {
  content: "";
  position: absolute;
  min-height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  z-index: -1;
}

.category.item-stable {
  background-size: 100% auto;
}

.bar-stable.bar-header .button, .bar-stable.bar-header .title, 
.category-word .item-content, button.coins-button, .popup-head h3 {
  color: white;
}
.bar-stable.bar-header {
  border-bottom: 1px solid #0e204f;
}
.bar-stable.bar-header, .main-menu {
  border-right: 1px solid #0e204f;
}

.main-menu .item {
  border-color: #0e204f;
}
.main-menu .item-content, .main-menu .item-content.activated, .category.item-stable, 
.category-word .item-content, .category-word p, .game-info p, .composing-word-info p,
.settings span, .settings .radio-icon, .settings h3 {
  text-shadow: 1px 1px #184aad;
}

.categories-list .list {
  background: linear-gradient(rgb(183, 203, 241), rgb(149, 185, 255), rgb(190, 208, 239));
}
.categories-stats {
  background-color: rgb(183, 203, 241);
}
.categories-list p, .category.item-stable, .game-info p, .composing-word-info p,
.achievements h2, .achievements h3, .settings span, .settings .radio-icon, .settings h3 {
  color: black;
}
.category .category-icon {
  border: 2px solid #0c317a;
}
.category p, .opened-words-description p {
  color: #0c317a;
  text-shadow: -1px 0 #68929e, 0 1px #44a9c5, 1px 0 #44a9c5, 0 -1px #44a9c5;
}
.category-word {
  border-color: #0c317a;
}
.category-word p {
  color: #12b3f7;
}

button.word-name-button, input.composed-word  {
  border-color: black;
}
button.word-name-button {
  text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
}
input.composed-word {
  background-color: rgba(138, 209, 243, 0.5);
}
.clear-composed-word, .remove-letter-in-composed-word {
  background-color: rgba(255, 255, 255, 0.4);
}
.composing-words {
  background: linear-gradient(rgba(138, 209, 243, 0.5), #8cceef, rgba(138, 209, 243, 0.5));
}

.prompt-button {
  background-color: rgba(255, 246, 216, 0.5);
}
.open-word-button {
  background-color: rgba(253, 81, 154, 0.5);
}

.achievements {
  background-color: #DFCC90;
}
.achievements h2, .achievements h3 {
  text-shadow: 1px 1px #4690b9;
}
.progress {
  border: 2px solid black;
}
.progress p {
  color: #184aad;
}
.progress-bar {
  background-color: rgba(180, 198, 247, 0.5);
}
.progress-bar, .settings .item, .toggle input:checked + .track, .toggle .track {
  border: 1px solid #184aad !important;
}
.progress-indicator {
  background-color: #063696;
}

.sounds-mode, .radio-content .item-content {
  background-color: rgba(180, 198, 247, 0.5) !important;
}
.toggle input:checked + .track {
  background-color: #456cba !important;
}
.toggle .track {
  background-color: rgba(93, 124, 188, 0.5);
}

.popup-container .popup {
  background-color: rgb(207, 223, 252);
}
.popup-container .popup,
.popup button.button-positive, .popup button.button-positive.activated, .popup button.button-default {
  border: 1px solid #0c317a;
}
.popup-head {
  border-bottom: 1px solid #0c317a;
}
.popup-body h4, h5 {
  color: #0331d5;
}
.popup button.button-positive, .popup button.button-positive.activated {
  background: linear-gradient(141deg, #6b96dc 20%, #97bcf8 51%, #6b96dc 75%);
}
.popup button.button-default {
  background: linear-gradient(141deg, #97bcf8 0%, #6b96dc 51%, #97bcf8 75%);
}