@font-face {
  font-family: 'Andika';
  src: url('../fonts/Andika-R.ttf') format('truetype');
  font-weight: normal;
}

.main-menu .item-content, .categories-list, .category h1, button.coins-button,
button.word-name-button, input.composed-word, .composing-words-list .list,
.add-coins, .already-opened-word,
.composing-word-info h1, .composing-word-info button, .composing-word-info p,
.achievements h2, .achievements h3, .achievements p, .popup-container .popup,
.settings span, .settings h3,
.game-info p, .popup button {
  font-family: 'Andika';
}

.loading-container .loading {
  padding: 0px;
  padding-top: 70%;
  border-radius: 0px;
  width: 100%;
  height: 100%;
}
.spinner {
  fill: #fc6100;
}
.spinner svg {
  width: 50px;
  height: 50px;
}

.back-button > .back-text > .default-title, .back-button > .back-text > .previous-title {
  display: none;
}
.bar.bar-header .title {
  left: 0px !important;
  right: 0px !important;
  text-align: center;
}

.has-header {
  top: 64px;
}

.border-decoration-header {
  margin-top: 44px;
  height: 20px;
  padding: 0px;
}
.border-decoration {
  width: 100%;
  height: 20px;
  /*background-repeat: repeat-x;*/
}

.has-footer {
  bottom: 65px;
}
.footer {
  padding: 0px;
  height: 65px;
}
.bar .footer-controls .buttons {
  top: 25px;
}

.main-menu.has-header {
  top: 44px;
}
.main-menu .item {
  background: transparent;
}
.main-menu .item-content {
  font-size: 20px;
  padding: 15px;
  font-weight: bold;
}
.main-menu .item-content, .main-menu .item-content.activated {
  background-color: transparent;
  color: #111;
}

.categories-list .list {
  padding-top: 0px;
}
.categories-list p.categories-stats {
  margin-left: 0px;
}
.categories-list p {
  margin-bottom: 0px;
  margin-left: 10px;
  text-align: center;
  font-size: 16px;
}
.item-thumbnail-right {
  min-height: 67px;
}
.category-icon {
  width: 60px !important;
  height: 45px !important;
}
.category.item-stable {
  padding: 0px;
  font-weight: bold;
}
.category h1 {
  min-height: 67px;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-left: 8px;
  font-weight: bold;
  font-size: 32px;
  line-height: 1.7em;
}
.category p {
  font-size: 12px;
  margin-left: 0px;
  padding-bottom: 5px;
  margin-top: -15px;
  padding-left: 8px;
  text-align: left;
}
.category p span {
  font-size: 16px;
  color: red;
}
.category-word {
  transition: all ease-in 0.5s;
  border-color: black;
}
.category-word.ng-hide {
  opacity: 0;
}
.category-word .item-content {
  text-align: center;
  padding: 10px;
  font-size: 24px;
}
.category-word p {
  font-size: 16px;
  font-weight: bold;
}

.word-header {
  margin-top: 44px;
}
.word-name-buttons-block .list {
  margin-top: 4px !important;
  max-width: 550px;
  margin: 0 auto;
}
.letters-row {
  margin: 0 auto;
  margin-bottom: 4px;
  padding: 0px;
  background: none;
  border: none;
}
button.word-name-button {
  width: 50px;
  height: 50px;
  margin: 4px;
  font-size: 50px;
  padding-bottom: 18px;
  border-radius: 10px;
  line-height: 0.1em;
  color: black;
}
.word-name-button-disabled {
  opacity: 0.5;
}

.composed-word-controls {
  padding: 0px 0px;
  margin: 0 auto;
}
input.composed-word {
  width: 180px;
  border-radius: 10px;
  font-size: 24px;
  text-align: center;
  color: black !important;
  margin-left: 8px;
  margin-right: 8px;
}
.composed-word, .clear-composed-word, .remove-letter-in-composed-word {
  height: 40px;
  margin-bottom: 10px;
}
.clear-composed-word, .remove-letter-in-composed-word, button.help-button {
  width: 40px;
  border-radius: 40px;
  font-size: 24px;
}
button.clear-composed-word {
  border-color: red;
  color: #b30000;
}
button.remove-letter-in-composed-word {
  border-color: #ff6600;
  color: #ff3300;
}

.opened-words-description {
  padding: 0px;
}
.opened-words-description p {
  width: 200px;
  font-size: 16px;
  text-align: center;
  margin: 0 auto;
}

.composing-words-row {
  padding: 0px;
  background: none;
  border: none;
  margin: 0 auto;
}
.composing-word {
  background-color: transparent;
  border: none;
  font-size: 16px;
  text-align: center;
  line-height: 2em;
}
.composing-word a.activated {
  background-color: transparent !important;
}
.composing-word .item-content {
  padding: 3px;
  background-color: transparent;
}

.add-coins span, .add-coins .opened-word {
  color: #0ae10a;
  text-shadow: 2px 1px #008000;
}
.already-opened-word, .not-enough-coins {
  color: orangered;
  text-shadow: 1px 1px #7d450d;
}
.add-coins, .already-opened-word, .not-enough-coins {
  position: absolute;
  font-size: 28px;
  text-align: center;
  width: 100%;
}
.add-coins, .already-opened-word {
  top: 60%;
}
.not-enough-coins {
  top: 50%;
}
.add-coins span {
  vertical-align: text-top;
}
.add-coins.ng-hide, .already-opened-word.ng-hide, .not-enough-coins.ng-hide {
  opacity: 0;
}
.add-coins {
  z-index: 1;
}
.already-opened-word {
  z-index: 2;
}
.not-enough-coins {
  z-index: 3;
}

.coins-image {
  width: 35px;
}
button.coins-button {
  background-color: transparent;
  border: none;
  padding: 0px 0px;
  font-size: medium;
  font-weight: bold;
  vertical-align: top;
}

.composing-word-info h1, .composing-word-info button, .composing-word-info p {
  margin-left: 10px;
}
.composing-word-info h1 {
  color: black;
}
.composing-word-info button {
  border-color: black;
  color: black;
}
.game-info p, .composing-word-info p {
  font-weight: bold;
  margin-top: 15px;
}
.composing-word-info h1 {
  margin-top: 10px;
}
.composing-word-info button {
  border-radius: 10px;
  font-size: 18px;
  margin-left: 10px;
  margin-top: 15px;
  font-weight: bold;
}
.button-info {
  font-size: 16px;
}
p.composing-word-description {
  font-size: 16px;
  padding-right: 10px;
  white-space: pre-line;
  text-align: justify;
}
.prompt-button, .open-word-button {
  width: 125px;
}

.game-info {
  font-size: 16px;
  text-align: justify;
  padding-left: 10px;
  padding-right: 10px;
}

.game-info ul {
  list-style-type: disc;
  padding-left: 15px;
}

.game-info ul p {
  margin-bottom: 0px;
  margin-top: 0px;
}

.achievements .item {
  background: transparent;
  border-color: black;
}
.achievements h2 {
  font-weight: bold;
  font-size: larger;
}
.achievements h2, .achievements h3 {
  white-space: pre-wrap;
}
.achievements h3 {
  font-size: 13px;
}
.progress {
  border-radius: 15px;
  padding: 3px;
}
.progress p {
  font-size: 12px;
  font-weight: bold;
  text-align: right;
  width: 30%;
  padding-right: 4px;
}
.progress-bar {
  width: 70%;
}
.progress-bar, .progress-indicator {
  border-radius: 10px;
}
.progress-indicator {
  height: 20px;
}

.settings span {
  font-weight: bold;
  font-size: large;
}
.settings h3 {
  text-align: center;
  font-weight: bold;
  font-size: xx-large;
}
.item-radio {
  background: transparent;
}
.toggle input:checked + .track .handle, .toggle-small .toggle-calm input:checked + .track .handle {
  background-color: #fff;
}

.popup-container .popup {
  border-radius: 10px;
  text-align: center;
}
.popup-head {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.popup-body {
  padding: 0px;
}
.popup-body .achievement-popup {
  background-image: url(../img/fireworks.png);
  background-size: 100% auto;
  padding: 10px;
}
.popup-body h5 {
  font-weight: bold;
}
.popup-body p, h5 {
  font-size: 16px;
}
.popup-buttons {
  padding-top: 0px;
}
.popup button.button-default, .popup button.button-positive, .popup button.button-positive.activated {
  border-radius: 10px;
  font-weight: bold;
  font-size: 20px;
  color: black;
  border-color: black;
}
.popup-body .confirm-exit-popup h4 {
  color: black;
}