.header {
	margin-top: 40px;
	max-height: 210px;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.content {
	margin-top: 200px;
}

.footer {

}

.word-name-buttons-block {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.word-name-button {
	width: 50px;
	height: 50px;
	margin-right: 10px;
	margin-bottom: 10px;
}

.word-name-button-default {
	background-color: rgb(221, 221, 221);
}

.word-name-button-disabled {
	background-color: lightgreen;
}

.composed-word-controls {
	display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.composed-word, .clear-composed-word, .remove-letter-in-composed-word {
	height: 40px;
	margin-right: 10px;
	margin-bottom: 10px;
}

.clear-composed-word, .remove-letter-in-composed-word {
	width: 40px;
}

.opened-words-description {
	display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.composing-words-list .list {
	display: flex;
	flex-flow: row wrap;
}

.composing-word {
	flex: 0 0 33.33%;
    left: 2.5px;
}

.category-word {
	transition: all ease-in 0.5s;

}

.category-word.ng-hide {
  	opacity: 0;
}

.add-coins, .already-opened-word, .not-enough-coins {
	position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: all linear 0.5s;
}

.add-coins.ng-hide, .already-opened-word.ng-hide, .not-enough-coins.ng-hide {
  opacity: 0;
}

.add-coins {
	z-index: 1;
	color: green;
}

.already-opened-word {
	z-index: 2;
	color: #ffc900;
}

.not-enough-coins{
	z-index: 3;
	color: red;
}