@font-face {
    font-family: 'Ubuntu';
    src: url('../fonts/Ubuntu-Regular.ttf') format('truetype');
    font-weight: normal;
}

@font-face {
    font-family: 'Andika';
    src: url('../fonts/Andika-R.ttf') format('truetype');
    font-weight: normal;
}

.back-button > .back-text > .default-title, .back-button > .back-text > .previous-title {
    display:none;
}

.bar.bar-header .title {
	left: 0px !important;
	right: 0px !important;
	text-align: center;
}

.header {
	margin-top: 44px;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.footer {
    display: flex;
    flex-flow: row wrap;
    padding: 0px;
    height: 65px;
}

.footer-controls {
	padding: 5px;
}

.bar .footer-controls .buttons {
	top: 25px;
}

.main-menu .item-content {
	font-size: 20px;
	padding: 15px;
	font-weight: bold;
	font-family: 'Andika';
}

.categories-list {
	font-family: 'Andika';
}

.categories-list p {
	margin-bottom: 0px;
	margin-left: 10px;
	text-align: center;
	font-size: 16px;
}

.category {
	font-size: 34px;
}

.category-icon {
	width: 50px;
    float: right;
}

.category.item-stable {
	padding: 10px;
}

.category p {
    font-size: 13px;
    margin-left: 0px;
    margin-top: 10px;
}

.category p span {
	font-size: 16px;
}

.category-word {
	transition: all ease-in 0.5s;
	border-color: black;
}

.category-word.ng-hide {
  	opacity: 0;
}

.category-word .item-content {
    text-align: center;
    padding: 10px;
	font-size: 22px;
}

.category-word p {
	font-size: 16px;
}

.word-name-buttons-block {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    margin-top: 5px;
    margin-left: 10px;
}

button.word-name-button {
	width: 65px;
	height: 65px;
	margin-right: 10px;
	margin-bottom: 10px;
	font-size: 50px;
	padding-bottom: 15px;
	border-radius: 10px;
	line-height: 0.1em;
	font-family: Andika;
}

.word-name-button-disabled {
	opacity: .5;
}

.composed-word-controls {
	display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    max-width: 400px;
    padding: 0px 0px;
}

.composed-word, .clear-composed-word, .remove-letter-in-composed-word {
	height: 40px;
	margin-bottom: 10px;
}

input.composed-word {
	border-radius: 10px;
	font-size: 24px;
	text-align: center;
	max-width: 190px;
	font-family: Andika;
}

.clear-composed-word, .remove-letter-in-composed-word, button.help-button {
	width: 50px;
	border-radius: 50px;
	font-size: 24px;
}

button.clear-composed-word {
	border-color: red;
    color: darkred;
}

button.remove-letter-in-composed-word {
	margin-right: 0px;
/*	padding-top: 3px;*/
    padding-right: 3px;
    padding-left: 0px;
    border-color: green;
    color: darkgreen;	
}

.opened-words-description {
	display: flex;
    flex-flow: row wrap;
    justify-content: center;
    padding: 0px;
}

.opened-words-description p {
	padding-top: 5px;
	margin: 0px;
    font-size: 16px;
}

.composing-words-list .list {
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	font-family: Andika;
}

.composing-word {
	flex: 0 0 33%;
    background-color: transparent;
    border: none;
    font-size: 16px;
    text-align: center;
    line-height: 1.4em;
}

.composing-word a.activated {
	background-color: transparent !important;
}

.composing-word .item-content {
	padding: 5px;
	padding-right: 0px;
	background-color: transparent;
}

.add-coins, .already-opened-word, .not-enough-coins {
	position: absolute;
    font-size: 28px;
    text-align: center;
    width: 100%;
}

.add-coins, .already-opened-word {
    top: 60%; 
}

.not-enough-coins {
    top: 45%;
}

.add-coins span {
	vertical-align: text-top;
}

.add-coins.ng-hide, .already-opened-word.ng-hide, .not-enough-coins.ng-hide {
  opacity: 0;
}

.add-coins {
	z-index: 1;
}

.already-opened-word {
	z-index: 2;
}

.not-enough-coins{
	z-index: 3;
}

.coins-image {
	width: 35px;
}

button.coins-button {
	background-color: transparent;
	border: none;
	font-size: medium;
	padding: 0px 0px;
	vertical-align: top;
	font-family: Andika;
}

button.help-button {
	border-color: brown;
	font-family: Andika;
}

.border-decoration {
	width: 100%;
	height: 20px;
}

.composing-word-info h1, .composing-word-info button, .composing-word-info p {
	margin-left: 10px;
	font-family: Andika;
}

.composing-word-info h1 {
	margin-top: 10px;
	margin-bottom: 20px;
}

.composing-word-info button {
	border-radius: 10px;
    font-size: 18px; 
    margin-left: 10px;
}

p.composing-word-description {
	font-size: 16px;
	white-space: pre-line;
}

@media (min-width: 320px) {
	.category {
	font-size: 27px;
	}

	.category-icon {
	width: 45px;
	}

	.category p {
	font-size: 13px;
	}

  	.composing-word, .opened-words-description p, .composing-word-info p, .composing-word-info button   {
    font-size: 18px;
  	}
}

@media (min-width: 360px) {
	.main-menu .item-content {
	font-size: 20px;
	}

	.category {
	font-size: 31px;
	}

	.category-icon {
	width: 50px;
	}

	.category p {
	font-size: 14px;
	}

	.composing-word {
    font-size: 20px;
  	}

  	.opened-words-description p {
    font-size: 17px;
	}
}

@media (min-width: 375px) {
	.category {
	font-size: 32px;
	}

	.category-icon {
	width: 55px;
	}

	.category p {
	font-size: 16px;
	}
}

@media (min-width: 400px) {
    .category {
	font-size: 34px;
	}

	.category-icon {
	width: 57px;
	}

   .composing-word {
    font-size: 24px;
   }

    .opened-words-description p, .composing-word-info p {
    font-size: 18px;
	}

	.composing-word-info p.composing-word-description, .composing-word-info button {
    font-size: 22px; 
	}
}

@media (min-width: 430px) {
    .category {
	font-size: 37px;
	}

	.category-icon {
	width: 60px;
	}

	.category p {
	font-size: 18px;
	}

  	.composing-word {
    font-size: 26px;
  	}

  	.opened-words-description p {
    font-size: 19px;
	}
}

.add-coins, .already-opened-word, .not-enough-coins {
	-webkit-animation: moveDown linear 0.5;
	animation: moveDown linear 0.5;
    -webkit-animation-duration: 3s; 
    animation-duration: 3s;
}

@-webkit-keyframes moveDown {
    0% { -webkit-transform: translate3d(0, 20%, 0); opacity: 1; }
    50% { -webkit-transform: translate3d(0, 50%, 0); opacity: 0.8; }
    80% { -webkit-transform: translate3d(0, 80%, 0); opacity: 0.5; } 
    100% { -webkit-transform: translate3d(0, 100%, 0); opacity: 0;} 
}