.bar.bar-header .button, .bar.bar-header .title {
	color: white;
}

.bar.bar-header {
    border-bottom: 1px solid black;
}

.main-menu, .bar.bar-header, .footer {
	background-image: url('../img/vintage/secondary_texture.jpg');
	background-size: 100% auto;
}

.main-menu .item {
    border-color: #254e1c;
    color: #254e1c;
}

.main-menu .item-content::before, .category.item-stable::before, .header::before, .main-content::before {
	content: "";
	position: absolute;
	height: 100%;
	width: 100%;
	top: 0;
    left: 0;
    z-index: -1;
}

.main-menu .item-content::before {
	background-image: url('../img/vintage/secondary_texture.jpg');
	background-position: center top;
    background-size: 100% auto;
	opacity: 0.5;
}

.category.item-stable::before, .header::before, .main-content::before {
	background: url('../img/vintage/main_texture.jpg');
	background-position: center top;
    background-size: 100% auto;
    opacity: 0.7;
}

.main-menu .item-content {
	background-color: rgba(17, 171, 17, 0.7);
}

.categories-list  {
	background: linear-gradient(rgba(142, 160, 84, 0.7), #DFCC90, rgba(142, 160, 84, 0.7));
	color: #7d450d;
}

.categories-list p {
	color: #2a5c1e;
}

.category.item-stable {
    background-position: center;
    color: #7d450d;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 #7d450d, 0 -1px #7d450d;
}

.category .category-icon {
	border: 1px solid #7d450d;
}

.category p, .opened-words-description p {
	color: #2C6302;
    text-shadow: -1px 0 #73c35d, 0 1px #cfdc80, 1px 0 #cfdc80, 0 -1px #cfdc80;
}

.category p span {
	color: red;
}

.category-word {
	border-color: #adc5aa;
}

.category-word .item-content {
    background-image: url('../img/vintage/secondary_texture.jpg');
	background-size: 100% auto;
	color: white;
}

.category-word p {
	color: black;
}

button.word-name-button {
	border-color: #A08030;
	background-image: url('../img/vintage/letter_decoration.jpg');
	background-position: center top;
    background-size: 100% auto;
    color: #7d450d;
}

input.composed-word {
	color: #7d450d !important;
	border-color: #A08030;
    background-color: #DFCC90;
}

.clear-composed-word, .remove-letter-in-composed-word {
	background-color: #fcf9ed;
}

.composing-words {
	background: linear-gradient(rgba(142, 160, 84, 0.7), #DFCC90, rgba(142, 160, 84, 0.7));
}

.composing-word {
	color: cornsilk;
}

.add-coins span, .add-coins .opened-word {
	color: #7d450d;
    text-shadow: 1px 1px #d0a159;
}

.already-opened-word, .not-enough-coins {
    color: orangered;
    text-shadow: 1px 1px #7d450d;
}

button.coins-button {
	color: white;
}

.border-decoration {
	background-image: url('../img/vintage/border_decoration.jpg');
}

.composing-word-info {
	background-color: #DFCC90;
	background-image: url('../img/vintage/picture_background.jpg');
	background-size: 100% auto;
}

.composing-word-info h1 {
	color: #6a3603;
}

.composing-word-info button {
    border-color: #A08030;
    color: #290D02;
}

.composing-word-info p {	
	color: #1a3300;
	text-shadow: 1px 1px olive;
}

p.composing-word-description {
	color: white;
}

.prompt-button {
	background-color: #B3A654;
}

.open-word-button {
	background-color: #DFCC90;
}