.bar-stable.bar-header .button, .bar-stable.bar-header .title {
  color: white;
}

.bar-stable.bar-header {
  border-bottom: 1px solid #0b812d;
}

.main-menu, .bar-stable.bar-header, .footer {
  background-image: url('../img/vintage/secondary_texture.jpg');
  background-size: 100% auto;
}

.main-menu .item {
  border-color: #0b812d;
  background: transparent;
}

.main-menu .item-content, .main-menu .item-content.activated {
  background-color: rgba(166, 230, 143, 0.5);
  color: #111;
  text-shadow: 1px 1px #0b812d;
}

.categories-list-header {
  background-color: rgb(255, 254, 200);
}

.category.item-stable, .achievements {
  background: url('../img/vintage/main_texture.jpg');
  background-position: center top;
  background-size: 100% auto;
}

.game-info::before, .main-content::before, .settings::before, .word-header::before,
.main-menu .list::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  z-index: -1;
}

.word-header::before {
  background: url('../img/vintage/main_texture.jpg');
  background-position: center top;
  background-size: 100% auto;
}

.game-info::before, .main-content::before, .settings::before, .main-menu .list::before {
  opacity: 0.4;
  background: url('../img/vintage/decoration.jpg');
  background-position: center top;
  background-size: auto 100%;
}

.main-menu .list::before {
  background-size: 100% auto;
  opacity: 0.7;
}

.border-decoration {
  background-image: url('../img/vintage/border_decoration.jpg');
}

.categories-list .list {
  background: linear-gradient(rgb(255, 253, 212), #fffee0, rgb(255, 253, 212));
}

.categories-stats {
  background-color: rgb(255, 253, 212);
}

.categories-list p {
  color: black;
}

.category.item-stable {
  color: black;
  text-shadow: 1px 1px #13702e;
}

.category .category-icon {
  border: 2px solid #13702e;
}

.category p, .opened-words-description p {
  color: #2C6302;
  text-shadow: -1px 0 #73c35d, 0 1px #cfdc80, 1px 0 #cfdc80, 0 -1px #cfdc80;
}

.category p span {
  color: red;
}

.category-word {
  border-color: #13702e;
}

.category-word .item-content {
  background-image: url('../img/vintage/secondary_texture.jpg');
  background-size: 100% auto;
  color: white;
  text-shadow: 1px 1px #13702e;
}

.category-word p {
  color: black;
  font-weight: bold;
  text-shadow: 1px 1px #13702e;
}

button.word-name-button {
  border-color: black;
  background-image: url('../img/vintage/letter_decoration.jpg');
  background-position: center top;
  background-size: 100% auto;
  color: black;
  text-shadow: -1px 0 #73c35d, 0 1px #cfdc80, 1px 0 #cfdc80, 0 -1px #cfdc80;
}

input.composed-word {
  color: black !important;
  border-color: black;
  background-color: rgba(167, 186, 107, 0.5);
}

.clear-composed-word, .remove-letter-in-composed-word {
  background-color: #fcf9ed;
}

.composing-words {
  background: linear-gradient(rgba(167, 186, 107, 0.5), #faf1c3, rgba(167, 186, 107, 0.5));
}

.composing-word {
  color: black;
}

button.coins-button {
  color: white;
}

.composing-word-info h1 {
  color: black;
}

.composing-word-info button {
  border-color: black;
  color: black;
}

.game-info p, .composing-word-info p {
  color: black;
  text-shadow: 1px 1px #cfdc80;
}

.prompt-button {
  background-color: rgba(237, 224, 171, 0.5);
}

.open-word-button {
  background-color: rgba(36, 150, 5, 0.5);
}

.achievements {
  background-color: #DFCC90;

}

.achievements .item {
  border-color: black;
}

.progress {
  border: 2px solid black;
}

.progress p {
  color: #3a7a2a;
}

.progress-bar {
  border: 1px solid #3a7a2a;
  background-color: rgba(132, 210, 103, 0.5);
}

.progress-indicator {
  background-color: #3a7a2a
}

.popup-container .popup {
  background-color: rgb(255, 254, 224);
}

.popup-head h3 {
  color: white;
}

.popup-head {
  background-image: url(../img/vintage/secondary_texture.jpg);
  background-size: 100% auto;
  background-position: center top;
}

.popup-body h4, h5 {
  color: #ff3300;
}

.popup button.button-positive, .popup button.button-positive.activated {
  /*    background-image: url(../img/vintage/main_texture.jpg);
      background-size: 100% auto;*/
  /*background-color: #73bf62;*/
  background: linear-gradient(141deg, #4a963b 20%, #73bf62 51%, #4a963b 75%);
}

.popup button.button-default {
  /*background-color: #a1de8c;*/
  background: linear-gradient(141deg, #73bf62 20%, #4a963b 51%, #73bf62 75%);
}

.settings span, .settings .radio-icon, .settings h3 {
  color: #111;
  text-shadow: 1px 1px #0b812d;
}

.settings .item {
  border-color: #3a7a2a;
}

.sounds-mode, .radio-content .item-content {
  background-color: rgba(166, 230, 143, 0.5) !important;
}

.toggle input:checked + .track {
  border-color: #3a7a2a !important;
  background-color: #41892f !important;
}

.toggle .track {
  background-color: rgba(58, 122, 42, 0.5);
  border-color: #41892f;
}
